# Virtual Environments
.venv/
venv/
ENV/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
dist/
build/
eggs/
.eggs/

# Testing & Coverage
.pytest_cache/
.coverage
htmlcov/

# Editor & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
